@media screen and (max-width: 768px) {
  /* NAVBAR */
  .menu label #open {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    /* height: 100vh; */
    background: #efefef;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: .5s;
    /* z-index: 10; */
  }
  nav ul li {
    display: block;
    margin: 40px 0;
    line-height: 30px;
  }
  nav li a {
    font-size: 20px;
    padding: 0 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  nav li a:hover {
    background-color: transparent;
    color: rgb(129, 126, 126);
    font-weight: bold;
  }
  #btn-menu:checked ~ nav ul {
    /* top: 80px; */
    left: 0;
  }
  #btn-menu:checked ~ label #open {
    display: none;
  }
  #btn-menu:checked ~ label #close {
    display: block;
  }
}
