* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: RGB(218, 183, 141);
}

/* NAVBAR */
header {
  height: auto;
  /* background-color: RGB(218, 183, 141); */
}
header .menu input {
  display: none;
}
.menu label #open,
.menu label #close {
  font-size: 30px;
  float:right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
nav {
  overflow: hidden;
  height: 80px;
}
nav .navlogo {
  float: left;
  width: 80px;
  height: 80px;
  display: block;
}
nav h1{
  display: none;
  position: absolute;
  margin: 15px 0 0 100px;
  font-family: 'Parisienne', cursive;
  font-size: 2.5rem;
}
nav ul {
  margin-right: 25px;
  list-style: none;
  float: right;
}
nav li {
  display: inline-block;
  margin: 30px 20px;
}
nav ul li a{
  position: relative;
  color: rgba(71, 33, 2, 0.582);
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
  padding-top: 30px;
  padding-bottom: 36px;
}
nav li a:hover {
  background-color: #df7d28;
  color: #efefef;
  font-weight: bold;
}

/* MAIN CONTENT */
.main {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 80vh;
  background-image: url("../img/15478-cafe.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.main::before {
  content: "";
  position: absolute;
  opacity: .6;
}
.main-content {
  display: flex;
  justify-content: center;
}
.main-content .main-title {
  width: 90%;
  padding-top: 150px;
  font-size: 5rem;
  font-family: 'Parisienne', cursive;
  text-align: center;
  transition: .3s;
}

/* PRODUCTS */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.container .item {
  width: 450px;
  margin: 10px;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
}
.container .item:nth-child(3) {
  margin-top: 50px;
}
.container .item:nth-child(4) {
  margin-top: 50px;
}
.container .item p {
  font-size: 1rem;
  line-height: 25px;
  text-align: justify;
}
.container .item img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 5px 5px gray;
}
